extends layout

prepend head
    title ABLE About
    
append content
    div
        div
            p.aboutheaders Vision
            p.about
                | ABLE aims to facilitate the use of interactive, educational gaming applications that provide
                | supplementary assistance for the learning and review processes that take place outside of the classroom. The
                | ultimate vision is to supply a variety of entertaining, informative game-based programs that both students and
                | instructors will want to use. The main goal of this project is to develop these programs and make them widely
                | available for little or no cost to use.
        div
            p.aboutheaders Overview
            p.about
                | Applications for Basic Learning and Education (ABLE) is a web-based collection of interactive
                | educational programs that provide engaging and entertaining ways to supplement learning outside of the
                | classroom.
            p.about
                | Educational institutions, extracurricular tutoring organizations, and involved parents are
                | constantly searching for new ways to assist learning and reviewing material beyond the restraints of regular
                | school hours. This search is made far more difficult by students’ reluctance to participate in activities
                | that they perceive as being tedious or overly time-consuming.
            p.about
                | Over the years various educational games have been created to fulfill this need for tasks that are
                | both interesting and informative. The computer-based educational game market seemed to peak in the 1990s, with
                | numerous learning-based software applications being sold primarily in the form of CDs. However, as the Internet
                | became more accessible and information became more readily available, both the quantity and quality of
                | educational applications experienced a severe decline.
            p.about
                | A few major businesses, such as Leapfrog and The Learning Company, still focus on producing
                | educational games; however, the relative rarity of these programs, the market’s desire for them, and the level
                | of work needed to produce a successful product often combine to cause these applications to have very high
                | consumer prices. Additionally, the majority of educational games currently available are geared specifically
                | towards young children who are just beginning their educations and focus on only one subject, such as
                | mathematics or reading skills, per application.
            p.about
                | The primary focus of ABLE is to address these pain points by making high-quality educational games
                | which are easily accessible to the public. We will accomplish this by being web-based, which allows for ABLE to
                | be accessed from an immeasurable number of different devices and locations, and by making general use of ABLE
                | free to the public. Upon completion ABLE will possess a wide variety of learning-based applications that range
                | in topics from general learning skills to specific subjects. ABLE will also cater to far more varied age ranges,
                | with games directed for almost any level of education.
            p.about
                | We develop our software using free and open source technologies to minimize the cost of production.
                | Additional profit will be gained upon completion of the project by making certain features only available to
                | users who have memberships or through donations.
