extends layout

prepend head
	title ABLE Essay Tips

append content
	div
		ul.tips(style='list-style-type: disc;')
			li
				| Carefully read the instructions on the cover of the test booklet.
			li
				| Do some planning before writing the essay; you will be instructed to do your prewriting in your Writing Test booklet. You can refer to these notes as you write the essay on the lined pages in your answer folder. 
			li
				| Do not skip lines and do not write in the margins. Write your essay legibly, in English, with a No. 2 pencil. Do not use ink, a mechanical pencil, or correction fluid. 
				ul.tips_inner(style='list-style-type: square;')
					li
						| Carefully consider the prompt and make sure you understand the issue—reread it if you aren't sure.
					li
						| Decide what perspective you want to take on the issue.
					li
						| Then jot down your ideas: this might simply be a list of reasons and examples that you will use to explain your point of view on the issue.
					li
						| Write down what you think others might say in opposition to your point of view and think about how you would refute their arguments.
					li
						| Think of how best to organize your essay.
			li
				| At the beginning of your essay, make sure readers will see that you understand the issue. Explain your point of view in a clear and logical way.
			li
				| Stay focused on the topic.
			li
				| Discuss the issue in a broader context or evaluate the implications or complications of the issue.
			li
				| Address what others might say to refute your point of view and present a counterargument.
			li
				| Use specific examples.
			li
				| Vary the structure of your sentences, and use varied and precise word choices.
			li
				| Make logical relationships clear by using transitional words and phrases.
			li
				| End with a strong conclusion that summarizes or reinforces your position.
			li
				| If possible, before time is called, recheck your work: 
			li
				| Correct any mistakes in grammar, usage, punctuation, and spelling.
			li
				| If you find any words that are hard to read, recopy them so your readers can read them easily.
			li
				| Make any corrections and revisions neatly, between the lines (but not in the margins).
