extends layout

prepend head
	title ABLE General Tips

append content
	div
		ul.tips(style='list-style-type: disc;')
			li 
				| Carefully read the instructions on the cover of the test booklet.
			li 
				| Read the directions for each test carefully.
			li 
				| Read each question carefully.
			li 
				| Pace yourself—don't spend too much time on a single passage or question.
			li 
				| Pay attention to the announcement of five minutes remaining on each test.
			li
				| Use a soft lead No. 2 pencil with a good eraser. Do not use a mechanical pencil or ink pen; if you do, your answer document cannot be scored accurately.
			li
				| Answer the easy questions first, then go back and answer the more difficult ones if you have time remaining on that test.
			li
				| On difficult questions, eliminate as many incorrect answers as you can, then make an educated guess among those remaining.
			li
				| Answer every question. Your scores on the multiple-choice tests are based on the number of questions you answer correctly. There is no penalty for guessing.
			li 
				| If you complete a test before time is called, recheck your work on that test.
			li
				| Mark your answers properly. Erase any mark completely and cleanly without smudging.
			li
				| Do not mark or alter any ovals on a test or continue writing the essay after time has been called. If you do, you will be dismissed and your answer document will not be scored.

