!!! 5
html
	head
		block head
			include includes/head
			
			button#btn-logout.btn.btn-primary
					i.icon-lock.icon-white
					| Sign Out

	body.able_body
		block content
			include includes/header
			include includes/menu
		
		block foot
			include includes/footer

		block scripts
			script(src='/javascripts/jquery-1.9.1.min.js', type='application/javascript')
			script(src='/javascripts/jquery.form.js', type='application/javascript')
			script(src='/javascripts/bootstrap-modal.js', type='application/javascript')
			script(src='/javascripts/bootstrap-transition.js', type='application/javascript')
			script(src='/javascripts/home.js', type='application/javascript')