extends layout

append head
	title ABLE Search

append content
	div
		form(action='')
			input#searchme(type='text', placeholder='Subject of interest', size='50')
			input(type='submit', onclick='searchIndex(); return false;')
		#resultshere
	script(src='/javascripts/searchindex.js')
