.slide-content
    .contacts-block
        img.contact-img(src='/images/contact_title.png')
        .social-buttons
            a.social-button.mail-button(href='mailto:able@able.com;', target='_blank')
                span mail
            a.social-button.twitter-button(href='http://twitter.com/#!/ABLE', target='_blank')
                span twitter
            a.social-button.facebook-button(href='http://www.facebook.com/able', target='_blank')
                span facebook
        #footer
            table.title.footer-separator
                tr
                    td.line.line-left(align='right')
                        div
                    td.line.line-left(align='right')
                        i.icon-star
                    td.title-center(align='center')
                    td.line(align='left')
                        i.icon-star
                    td.line.line-right(align='left')
                        div
            p.footer-content
                span @2013 Ben Guitreau, Morgan Hargrove, Franshetta Hibbler


//- <div class="slide-content">
//-     <div class="contacts-block">
//-         <img class="contact-img" src="/images/contact_title.png">

//-         <div class="social-buttons">
//-             <a href="mailto:able@able.com;" target="_blank" class="social-button mail-button">
//-                 <span>mail</span>
//-             </a>
//-             <a href="http://twitter.com/#!/ABLE" target="_blank" class="social-button twitter-button">
//-                 <span>twitter</span>
//-             </a>
//-             <a href="http://www.facebook.com/able" target="_blank" class="social-button facebook-button">
//-                 <span>facebook</span>
//-             </a>
//-         </div>
//-         <div id="footer">
//-             <table class="title footer-separator">
//-                 <tr>
//-                     <td class="line line-left" align="right"><div></div></td>
//-                     <td class="line line-left" align="right"><i class="icon-star"></i></td>
//-                     <td class="title-center" align="center"></td>
//-                     <td class="line" align="left"><i class="icon-star"></i></td>
//-                     <td  class="line line-right" align="left"><div></div></td>
//-                 </tr>
//-             </table>
//-             <p class="footer-content">
//-                 <span>&#64;2013 Ben Guitrea, Morgan Hargrove, Franshetta Hibbler</span>
//-             </p>
//-         </div>
//-     </div>
//- </div>
