.slide-content
    .contacts-block
        img.contact-img(src='/images/contact_title.png')
        .social-buttons
            a.social-button.mail-button(href='mailto:able@able.com;', target='_blank')
                span mail
            a.social-button.twitter-button(href='http://twitter.com/#!/ABLE', target='_blank')
                span twitter
            a.social-button.facebook-button(href='http://www.facebook.com/able', target='_blank')
                span facebook
        #footer
            p.footer-content
                span @2013 Ben Guitreau, Morgan Hargrove, Franshetta Hibbler
