// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value=user._id)#userId

#account-form-container
	form(autocomplete='off', method='post', action='')#account-form
		p.subheading Please enter a username and password. Username should be at least 3 characters and password at least 6 characters.
		#user-cg
			label(for='user-tf') Username
			input#user-tf(type='text', name='user', value= user.user)
		#pass-cg
			label(for='pass-tf') Password
			input#pass-tf(type='password', name='pass', value='')
		#create-account-btn
				button(type="submit")#btn-create
					i.icon-lock.icon-white
					| Create
