!!! 5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    title ABLE Home
    link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
    link(href='/stylesheets/able.css', rel='stylesheet', type='text/css')
    script(src='/javascripts/jquery-1.8.3.min.js', type='text/javascript')
    script(src='/javascripts/main.js', type='text/javascript')
  body
    #header
      img(src='images/able.png')
      h2 Applications for Basic Learning and Education
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='pages/about.html') About
        li
          a(href='pages/search.html') Search
        li
          a(href='#') Games
          ul
            li
              a(href='#') English
              ul
                li
                  a(href='#') Placeholder 1
                li
                  a(href='#') Placeholder 2
                li
                  a(href='#') Placeholder 3
            li
              a(href='#') Reading
              ul
                li
                  a(href='#') Placeholder 4
                li
                  a(href='#') Placeholder 5
                li
                  a(href='#') Placeholder 6
            li
              a(href='#') Math
              ul
                li
                  a(href='#') Placeholder 7
                li
                  a(href='#') Placeholder 8
                li
                  a(href='#') Placeholder 9
            li
              a(href='#') Science
              ul
                li
                  a(href='#') Placeholder A
                li
                  a(href='#') Placeholder B
                li
                  a(href='#') Placeholder C
        li
          a(href='#') ACT
          ul
            li
              a(href='#') Tips
              ul
                li
                  a(href='#') General Advice
                li
                  a(href='#') Advice on English
                li
                  a(href='#') Advice on Math
                li
                  a(href='#') Advice on Science
                li
                  a(href='#') Advice on Reading
                li
                  a(href='#') Advice on Essay
            li
              a(href='#') Tutorials
              ul
                li
                  a(href='#') English
                li
                  a(href='#') Math
                li
                  a(href='#') Science
                li
                  a(href='#') Reading
            li
              a(href='#') Test
    div
      p#para1
        | Applications for Basic Learning and Education (ABLE) is a web-based collection of interactive educational
        | programs that provide engaging and entertaining ways to supplement learning outside of the classroom.
      p#para2
        | Educational institutions, extracurricular tutoring organizations, and involved parents are constantly
        | searching for new ways to assist learning and reviewing material beyond the restraints of regular school hours.
        | This search is made far more difficult by students’ reluctance to participate in activities that they perceive
        | as being tedious or overly time-consuming.
