!!! 5
html
  html
    head
      title ABLE Search
      include includes/head
    body
      include includes/header
      include includes/menu
      div
        form(action='')
          input#searchme(type='text', placeholder='Subject of interest', size='50')
          input(type='submit', onclick='searchIndex(); return false;')
        #resultshere
