!!! 5
html
	head
		title ABLE Signup
		include includes/head
		block scripts
			script(src='/javascripts/login.js')
			script(src='/javascripts/signup.js')
	body
		include includes/header
		include includes/menu
		include account
