.modal-results.modal.hide.fade
    div.modal-header
        button.close(data-dismiss='modal') x
        h3
    div.modal-body
        p
    div.modal-footer
        button(data-dismiss="modal", onclick='document.location.href=\'/math1\'')#ok.btn.btn-warning OK
