nav#able_menu
  ul
    li
      a(href='/home') Home
    li
      a(href='/about') About
    li
      a(href='/search') Search
    li
      a(href='#') Tips
      ul
        li
          a(href='./gentips') General Advice
        li
          a(href='./engtips') English
        li
          a(href='./mathtips') Math
        li
          a(href='./scitips') Science
        li
          a(href='./readtips') Reading
        li
          a(href='./esstips') Essay
    li
      a(href='#') Tutorials
      ul
        li
          a(href='./gentuts') General Tutorials
        li
          a(href='./engtuts') English
        li
          a(href='./mathtuts') Math
        li
          a(href='./scituts') Science
        li
          a(href='./readtuts') Reading
        li
          a(href='./esstuts') Essay
    li
      a(href='#') Test
      ul
        li
          a(href='./eng1') English
        li
          a(href='./math1') Math
        li
          a(href='./sci1') Science
        li
          a(href='./read1') Reading
              
